.all-cards-second {
    display: flex;
    flex-direction: column;
    .cards-second {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80rem;
        border-bottom: 3px solid $cinza01;
        img {
            padding: 3.3rem 0px;
        }
        .text {
            width: 60rem;
            h4 {
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 150%;
                letter-spacing: -0.5px;
                color: $cinza04;
            }
            p {
                font-family: 'Inter';
                font-weight: 200;
                font-size: 1.8rem;
                line-height: 150%;
                color: $cinza03;
            }
        }
    }
}