* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
}
h1,h2,h3,h4 {
    font-family: 'Poppins', sans-serif;
}
p {
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%; /* para imagens responsivas */
    display: block;
}

html {
    font-size: 62.5%;      
}

html,
    body {
        overflow-x: hidden; // força a não ter a rolagem lateral (em baixo)
    }
