// cores
$azul01: #00D7D7;
$azul02: #00A5F0;
$azul03: #0073CE;
$amarelo: #FFC800;
$gradiente: linear-gradient(99.31deg, #00A5F0 7.94%, #00D7D7 95.32%);
$cinza01: #F1F0F5;
$cinza02: #C6C5CE;
$cinza03: #7A7786;
$cinza04: #5F5C6B;
$cinza05: #4E4B59;
$cinza06: #33303E;